# IntelliJ IDEA
.idea/
*.iml

# Compiled class file
*.class

# Maven
target/

# Logs
*.log

# OS
.DS_Store

# HTTP client requests (IntelliJ)
httpRequests/

# Shelf & workspace (IntelliJ)
shelf/
workspace.xml

# Maven home path (IntelliJ)
mavenHomeManager.xml

# Datasource configs (IntelliJ)
dataSources/
dataSources.local.xml

# Build output
build/

# Node/npm (varsa)
node_modules/
